<?xml version="1.0"?>
<!-- Launch in the camera namespace containing "image_raw" and "camera_info" -->
<launch>
		<!--node pkg="nodelet" type="nodelet" name="nodelet_manager" args="manager"/-->
		<node pkg="nodelet" type="nodelet" name="directedDepthDetection" args="load msl_directed_depth_vision/DirectedDepthVisionNodelet camera/camera_nodelet_manager"/>	
</launch>
