<launch>
	<!-- nodelet manager process -->
	<node pkg="nodelet" type="nodelet" name="camera_nodelet_manager"
	args="manager" />
	
	<!-- camera driver nodelet -->
	<node pkg="nodelet" type="nodelet" name="camera1394_nodelet" 
	args="load camera1394/driver camera_nodelet_manager">
		<param name="reset_on_open" value="true"/>
		<param name="video_mode" value="1024x768_mono8"/>
		<param name="iso_speed" value="800"/>
		<param name="frame_rate" value="30"/>
		<param name="auto_white_balance" value="1"/>
		<param name="saturation" value="1880"/>
	</node>
	
	<!-- Bayer color decoding -->
	<node pkg="nodelet" type="nodelet" name="image_proc_debayer"
	args="load image_proc/debayer camera_nodelet_manager">
		<remap from="image_color" to="camera/image_color" />
		<remap from="image_mono" to="camera/image_mono" />
		<remap from="image_raw" to="camera/image_raw" />
	</node>
	
	<!-- mono rectification -->
	<node pkg="nodelet" type="nodelet" name="image_proc_rect"
	args="load image_proc/rectify camera_nodelet_manager">
		<remap from="image_mono" to="camera/image_mono" />
		<remap from="image_rect" to="camera/image_rect" />
	</node>
	
	<!-- color rectification -->
	<node pkg="nodelet" type="nodelet" name="image_proc_rect_color"
	args="load image_proc/rectify camera_nodelet_manager">
		<remap from="image_mono" to="camera/image_color" />
		<remap from="image_rect" to="camera/image_rect_color" />
	</node>
	
	<!-- Image View Node 
	<node pkg="image_view" type="image_view" name="image_view" >
		<remap from="image" to="camera/image_rect_color"/>
	</node> -->
</launch>

