<library path="lib/librqt_msl_refbox">
  <class name="rqt_msl_refbox/Refbox" type="rqt_msl_refbox::Refbox" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      A GUI plugin version of msl_refbox.
    </description>
    <qtgui>
      <group>
        <label>Visualization</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to visualization.</statustip>
      </group>
      <label>MSL Referee Box</label>
      <icon type="theme">image-x-generic</icon>
      <statustip>A GUI plugin version of msl_refbox</statustip>
    </qtgui>
  </class>
</library>
