<library path="lib/libmsl_refbox">
  <class name="msl_refbox/RefBox" type="msl_refbox::RefBox" base_class_type="rqt_gui_cpp::Plugin">
    <description>
      A GUI plugin to send MSL RefBox Commands.
    </description>
    <qtgui>
      <group>
        <label>Robot Tools</label>
        <icon type="theme">folder</icon>
        <statustip>Plugins related to robot tools.</statustip>
      </group>
      <label>MSL Refbox</label>
      <icon type="theme">image-x-generic</icon>
      <statustip>A GUI plugin for sending MSL Refbox Commands.</statustip>
    </qtgui>
  </class>
</library>
